@charset "UTF-8";
/* these are styles that differ from the defaults in nist-styles.css, mostly having to do with highlight colors */
 
/* need this to battle an IE Bug with the pie.htc behavior.*/
.mostpopular { position:relative;z-index:100; }

.baldrige #navigation-wrapper { background: #fff url(/images/ui/Baldrige_menu_bg.gif) repeat-x scroll 0% 99%; }
.baldrige ul.dropdown ul li, .baldrige .mostpopular .CS_LinkBar_BeforeLabel { background-color: #00539f; }

.boulder h1, .boulder a:link, .boulder a:visited, .boulder a:hover { color: #236500; }
.boulder #navigation-wrapper { background:#207c08 ; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#67954f), to(#236500));
	background: -moz-linear-gradient(left center, rgb(103,149,79) 35%, rgb(35,101,0) 59% );
	-pie-background: linear-gradient(left top,#67954f, #236500);
}
.boulder #navigation-wrapper, .boulder .mostpopular .CS_LinkBar_BeforeLabel, .boulder ul.dropdown ul li { background-color:#236500; }

.calibrations h1, .calibrations a:link, .calibrations a:visited, .calibrations a:hover { color: #800000; }
.calibrations #navigation-wrapper {	background:#800000; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#800000), to(#800000));
	background: -moz-linear-gradient(left center, rgb(128,0,0) 35%, rgb(128,0,0) 59% );
	-pie-background: linear-gradient(left top,#800000, #800000);
}
.calibrations ul.dropdown ul li, .calibrations .mostpopular .CS_LinkBar_BeforeLabel { background-color: #800000; }

.cnst h1, .cnst a:link, .cnst a:visited, .cnst a:hover { color: #0194bf; }
.cnst #navigation-wrapper {	background:#0194bf; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#34a9cc), to(#0194bf));
	background: -moz-linear-gradient(left center, rgb(52,169,204) 35%, rgb(1,148,191) 59% );
	-pie-background: linear-gradient(left top,#34a9cc, #0194bf);
}
.cnst ul.dropdown ul li, .cnst .mostpopular .CS_LinkBar_BeforeLabel { background-color: #0194bf; }

.ctl h1, .ctl a:link, .ctl a:visited, .ctl a:hover { color: #175F90; }
.ctl #navigation-wrapper {	background:#175F90; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#175F90), to(#011E4A));
	background: -moz-linear-gradient(left center, rgb(23,95,144) 35%, rgb(1,30,74) 59% );
	-pie-background: linear-gradient(left top,#175F90, #011E4A);
}
.ctl ul.dropdown ul li, .ctl .mostpopular .CS_LinkBar_BeforeLabel { background-color: #175F90; }

.cybercommission h1, .cybercommission a:link, .cybercommission a:visited, .cybercommission a:hover { color:#4682B4; }
.cybercommission #navigation-wrapper { background:#002e59;}
.cybercommission ul.dropdown ul li, .cybercommission .mostpopular .CS_LinkBar_BeforeLabel, .cybercommission ul.dropdown ul li, .cybercommission ul.dropdown ul li, .cybercommission .mostpopular .CS_LinkBar_BeforeLabel { background-color:#002e59 ; }



.cyberframework h1, .cyberframework a:link, .cyberframework a:visited, .cyberframework a:hover { color:#4682B4; }
.cyberframework #navigation-wrapper { background:#002e59;}
.cyberframework ul.dropdown ul li, .cyberframework .mostpopular .CS_LinkBar_BeforeLabel, .cyberframework ul.dropdown ul li, .cyberframework ul.dropdown ul li, .cyberframework .mostpopular .CS_LinkBar_BeforeLabel { background-color:#002e59 ; }

.el #navigation-wrapper { background:#1B5193; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#4873a8), to(#1b5193));
	background: -moz-linear-gradient(left center, rgb(72,115,168) 35%, rgb(27,81,147) 59% );
	-pie-background: linear-gradient(left top,#4873a8, #1b5193);
}
.el ul.dropdown ul li, .el .mostpopular .CS_LinkBar_BeforeLabel, .mep ul.dropdown ul li, .wtc ul.dropdown ul li, .wtc .mostpopular .CS_LinkBar_BeforeLabel { background-color:#1B5193; }

.exportech h1, .exportech a:link, .exportech a:visited, .exportech a:hover { color: #237299; }
.exportech #navigation-wrapper {	background:#237299; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#5d5757), to(#237299));
	background: -moz-linear-gradient(left center, rgb(93,87,87) 35%, rgb(35,114,153) 59% );
	-pie-background: linear-gradient(left top,#237299, #237299);
}
.exportech ul.dropdown ul li, .exportech .mostpopular .CS_LinkBar_BeforeLabel { background-color: #237299; }

.fire h1, .fire a:link, .fire a:visited, .fire a:hover { color:#a20b00; }
.fire ul.dropdown ul li, .fire .mostpopular .CS_LinkBar_BeforeLabel, .fire ul.dropdown ul li, .fire .mostpopular .CS_LinkBar_BeforeLabel, .fire #navigation-wrapper { background-color:#a20b00; }

.forensics h1, .forensics a:link, .forensics a:visited, .forensics a:hover { color:#003471; }
.forensics ul.dropdown ul li, .forensics .mostpopular .CS_LinkBar_BeforeLabel, .forensics ul.dropdown ul li, .forensics .mostpopular .CS_LinkBar_BeforeLabel, .forensics #navigation-wrapper { background-color:#614949; }

.disaster-resilience ul.dropdown ul li, .disaster-resilience .mostpopular .CS_LinkBar_BeforeLabel, .disaster-resilience ul.dropdown ul li, .disaster-resilience .mostpopular .CS_LinkBar_BeforeLabel, .disaster-resilience #navigation-wrapper { background-color:#56534c ; }
.disaster-resilience h1, .disaster-resilience a:link, .disaster-resilience a:visited, .disaster-resilience a:hover { color:#38486b; }

/*.healthcare h1, .healthcare a:link, .healthcare a:visited, .healthcare a:hover { color:#5185ad; }
.healthcare #navigation-wrapper { background:#5185ad; /*for no gradient-support */
/*	background: -webkit-gradient(linear, left center, right center, from(#A4C7E0), to(#5185ad));
	background: -moz-linear-gradient(left center, rgb(164,199,224) 35%, rgb(81,133,173) 59% );
	-pie-background: linear-gradient(left top,#A4C7E0, #5185ad);
}
.healthcare ul.dropdown ul li, .healthcare .mostpopular .CS_LinkBar_BeforeLabel { background-color: #5185ad; }
*/

.greenhouse-gas h1, .greenhouse-gas a:link, .greenhouse-gas a:visited, .greenhouse-gas a:hover { color: #1a528b; }
.greenhouse-gas #navigation-wrapper {	background:#1a528b; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#1a528b), to(#588935));
	background: -moz-linear-gradient(left center, rgb(26,82,139) 35%, rgb(88,137,53) 59% );
	-pie-background: linear-gradient(left top,#1a528b, #588935);
}
.greenhouse-gas ul.dropdown ul li, .greenhouse-gas .mostpopular .CS_LinkBar_BeforeLabel { background-color: #1a528b; }

.healthcare h1, .healthcare a:link, .healthcare a:visited, .healthcare a:hover { color:#497090; }
.healthcare #navigation-wrapper { background:#497090; /*for no gradient-support */
}
.healthcare ul.dropdown ul li, .healthcare .mostpopular .CS_LinkBar_BeforeLabel { background-color: #497090; }

.ineap h1 { color:#005683; }
.ineap a:link, .ineap a:visited, .ineap a:hover { color:#C66723; }
.ineap #navigation-wrapper { background:#005683; /*for no gradient-support */
}
.ineap ul.dropdown ul li, .ineap .mostpopular .CS_LinkBar_BeforeLabel { background-color: #005683; }

.itl h1, .itl a:link, .itl a:visited, .itl a:hover { color:#4682B4; }
.itl #navigation-wrapper { background:#1f4083; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#4a649b), to(#214284));
	background: -moz-linear-gradient(left center, rgb(74,100,155) 35%, rgb(33,66,132) 59% );
	-pie-background: linear-gradient(left top,#4a649b, #214284);}
	
.itl ul.dropdown ul li, .itl .mostpopular .CS_LinkBar_BeforeLabel { background-color: #1f4083; }

.lightweighting h1, .lightweighting a:link, .lightweighting a:visited, .lightweighting a:hover { color:#362bb6; }
.lightweighting #navigation-wrapper { background:#4C4E50; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#4C4E50), to(#A69D91));
	background: -moz-linear-gradient(left center, rgb(76,78,80) 35%, rgb(166,157,145) 59% );
	-pie-background: linear-gradient(left top,#4C4E50, #A69D91);}
	
.lightweighting ul.dropdown ul li, .lightweighting .mostpopular .CS_LinkBar_BeforeLabel { background-color: #1f4083; }

.mep #navigation-wrapper { background:#005284; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#34759d), to(#005284));
	background: -moz-linear-gradient(left center, rgb(52,117,157) 35%, rgb(0,82,132) 59% );
	-pie-background: linear-gradient(left top,#34759d, #005284);}
 
.mep ul.dropdown ul li, .mep .mostpopular-white .CS_LinkBar_BeforeLabel, .mep .mostpopular .CS_LinkBar_BeforeLabel { background-color: #005284; }

.mml h1, .mml a:link, .mml a:visited, .mml a:hover { color: #255d14; }
.mml #navigation-wrapper { background:#255d14; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#618a52), to(#245c11));
	background: -moz-linear-gradient(left center, rgb(97,138,82) 10%, rgb(36,92,17) 35% );
	-pie-background: linear-gradient(left top,#618a52, #245c11);
 }
.mml ul.dropdown ul li, .mml  .mostpopular .CS_LinkBar_BeforeLabel {background-color: #255d14; }

.national-security-standards h1, .national-security-standards a:link, .national-security-standards a:visited, .national-security-standards a:hover { color:#003471; }
.national-security-standards #navigation-wrapper { background:#58595B; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#58595B), to(#58595B));
	background: -moz-linear-gradient(left center, rgb(88,89,91) 35%, rgb(88,89,91) 59% );
	-pie-background: linear-gradient(left top,#1b5a78, #024869);
 }
.national-security-standards ul.dropdown ul li,.national-security-standards .mostpopular .CS_LinkBar_BeforeLabel { background-color:#231F20; }

.ncnr h1, .ncnr a:link, .ncnr a:visited, .ncnr a:hover { color:#214bca; }
.ncnr #navigation-wrapper {	background:#214bca; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#4d6fd5), to(#214bca));
	background: -moz-linear-gradient(left center, rgb(77,111,213) 35%, rgb(33,75,202) 59% );
	-pie-background: linear-gradient(left top,#4d6fd5, #214bca);
 }
.ncnr ul.dropdown ul li, .ncnr .mostpopular .CS_LinkBar_BeforeLabel { background-color: #214bca; }

.nsoft h1, .nsoft a:link, .nsoft a:visited, .nsoft a:hover { color:#214bca; }
.nsoft #navigation-wrapper {	background:#a60000; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#8A384D), to(#961838));
	background: -moz-linear-gradient(left center, rgb(138,56,77) 35%, rgb(150,24,56) 59% );
	-pie-background: linear-gradient(left top,#8A384D, #961838);
 }
.nsoft .mostpopular .CS_LinkBar_BeforeLabel { background-color: #214bca; }
.nsoft ul.dropdown ul li { background-color: #8A384D; }

.nvlap h1, .nvlap a:link, .nvlap a:visited, .nvlap a:hover { color:#15669b; }
.nvlap #navigation-wrapper {	background:#15669b; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#15669b), to(#15669b));
	background: -moz-linear-gradient(left center, rgb(21,102,155) 35%, rgb(21,102,155) 59% );
	-pie-background: linear-gradient(left top,#15669b, #15669b);
 }
.nvlap .mostpopular .CS_LinkBar_BeforeLabel { background-color: #15669b; }
.nvlap ul.dropdown ul li { background-color: #15669b; }

.oles h1, .oles a:link, .oles a:visited, .oles a:hover { color:#003471; }
.oles #navigation-wrapper { background:#58595B; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#58595B), to(#58595B));
	background: -moz-linear-gradient(left center, rgb(88,89,91) 35%, rgb(88,89,91) 59% );
	-pie-background: linear-gradient(left top,#1b5a78, #024869);
 }
.oles ul.dropdown ul li,.oles .mostpopular .CS_LinkBar_BeforeLabel { background-color:#231F20; }

.pml h1, .pml a:link, .pml a:visited, .pml a:hover { color: #4240a0; }
.pml #navigation-wrapper { 	
	background:#2f4078; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#6a72a0), to(#2b3572));
	background: -moz-linear-gradient(left center, rgb(106,114,160)0%, rgb(43,53,114) 59% );
	-pie-background: linear-gradient(left top,#6a72a0, #2b3572);
 }
.pml ul.dropdown ul li, .pml .mostpopular .CS_LinkBar_BeforeLabel { background-color: #2f4078; }

.smartgrid h1, .smartgrid a:link, .smartgrid a:visited { color:#4C6B4C; }
.smartgrid a:hover { color:#273627; }
.smartgrid #navigation-wrapper { background:#2F6D9A; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#374e5c), color-stop(50%, #385156), to(#164519));
	background: -moz-linear-gradient(left center, rgb(55,78,92) 55%, rgb(22,69,25) 80% );
	-pie-background: linear-gradient(left top,#374e5c, #164519);
 }
.smartgrid ul.dropdown ul li, .smartgrid .mostpopular .CS_LinkBar_BeforeLabel { background-color:#35505B; }

.standardsgov h1, .standardsgov a:link, .standardsgov a:visited { color:#0E45B1; }
.standardsgov a:hover { color:#0E45B1; }
.standardsgov #navigation-wrapper { background:#0E45B1; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#374e5c), color-stop(50%, #0E45B1), to(#960102));
	background: -moz-linear-gradient(left center, rgb(14,69,177) 55%, rgb(150,1,2) 80% );
	-pie-background: linear-gradient(left top,#0E45B1, #960102);
 }
.standardsgov ul.dropdown ul li, .standardsgov .mostpopular .CS_LinkBar_BeforeLabel { background-color:#35505B; }

.surf h1, .surf a:link, .surf a:visited,.surf a:hover {color: #cc0000;}
.surf #navigation-wrapper, .surf ul.dropdown ul li { background-color: #cc0000; }

.surfgaithersburg h1, .surfgaithersburg a:link, .surfgaithersburg a:visited,.surfgaithersburg a:hover {color: #cc0000;}
.surfgaithersburg #navigation-wrapper, .surfgaithersburg ul.dropdown ul li { background-color: #cc0000; }

.surfboulder #navigation-wrapper { background-color:#330099; }

.tip h1, .tip a:link, .tip a:visited, .tip a:hover { color:#2F6D9A; }
.tip #navigation-wrapper { background:#2F6D9A; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#285c82), to(#2f6d9a));
	background: -moz-linear-gradient(left center, rgb(40,92,130) 35%, rgb(47,109,154) 59% );
	-pie-background: linear-gradient(left top,#285c82, #2f6d9a);
 }
.tip ul.dropdown ul li,.tip .mostpopular .CS_LinkBar_BeforeLabel { background-color:#2F6D9A; }

.tgdc h1, .tgdc a:link, .tgdc a:visited, .tgdc a:hover { color:#024869; }
.tgdc #navigation-wrapper { background:#024869; /*for no gradient-support */
	background: -webkit-gradient(linear, left center, right center, from(#1b5a78), to(#024869));
	background: -moz-linear-gradient(left center, rgb(27,90,120) 35%, rgb(2,72,105) 59% );
	-pie-background: linear-gradient(left top,#1b5a78, #024869);
 }
.tgdc ul.dropdown ul li,.tgdc .mostpopular .CS_LinkBar_BeforeLabel { background-color:#024869; }

.el h1,.el a:link,.el a:visited,.el a:hover,.mep h1,.mep a:link,.mep a:visited,.mep a:hover,.ncnr h1,.ncnr a:link,.ncnr a:visited,.ncnr a:hover {
color:#1B5193; }

/* .homepage Main Page Template  */
.homepage #banner-graphic-wrapper { height:74px; width:975px; margin-left: 0px; }
.homepage #navigation-wrapper { background: #fff url(/images/ui/blue_greyBanner.gif) repeat-x scroll 0% 99%; height:19px; width:860px; margin-left: 115px; }
.homepage #meta-navigation-wrapper { background: #fff url(/images/banner_graphics/curvy_topline.jpg) no-repeat  0px 0px; height:15px; margin:0 15px 0 0; padding:0; width:975px; }	
.homepage #meta-navigation-links { left:507px; position:relative; top: 2px; }
.homepage ul.dropdown a { color:#362bb6; }
.homepage ul.dropdown ul li { background-color:#d5d3d3; }
.homepage ul.dropdown a.white {color:#ffffff;}
.homepage ul.dropdown *.dir { background: url(images/frontpagesprite.png) no-repeat scroll 100% -146px transparent; }
/* added sprite images to reduce http calls */
.healthinsurance { background: url(images/frontpagesprite.png) 0px -173px no-repeat; display: inline-block; width: 120px; height: 80px; margin-left:90px; }
.businessusa { background: url(images/frontpagesprite.png) 0px -35px no-repeat; display: inline-block; width: 171px; height: 29px; }
.recoverygov { background: url(images/frontpagesprite.png) 0px 0px no-repeat; display: inline-block; width: 200px; height: 30px; margin-right:90px; }
.science { background: url(images/frontpagesprite.png) -102px -69px no-repeat; display: inline-block; width: 93px; height: 23px; }
.usagov { background: url(images/frontpagesprite.png) 0px -69px no-repeat; display: inline-block; width: 97px; height: 28px; }
.govdelivery { background: url(images/frontpagesprite.png) -145px -102px no-repeat; display: inline-block; padding-left:26px; }
.facebook { background: url(images/frontpagesprite.png) -176px -35px no-repeat; display: inline-block; width: 24px; height: 24px; }
.flickr { background: url(images/frontpagesprite.png) -58px -102px no-repeat; display: inline-block; width: 24px; height: 24px; }
.linkedin { background: url(images/frontpagesprite.png) -87px -102px no-repeat; display: inline-block; width: 24px; height: 24px; }
.rss { background: url(images/frontpagesprite.png) 0px -102px no-repeat; display: inline-block; width: 24px; height: 24px; }
.twitter { background: url(images/frontpagesprite.png) -29px -102px no-repeat; display: inline-block; width: 24px; height: 24px; }
.youtube {  background: url(images/frontpagesprite.png) -116px -102px no-repeat; display: inline-block; width: 24px; height: 24px; }
/* gotta clear the underline on links that are only DIVs with background */
a.healthinsurance:hover, a.businessusa:hover, a.recoverygov:hover, a.science:hover, a.usagov:hover, a.facebook:hover, a.flickr:hover, a.twitter:hover, a.rss:hover, a.linkedin:hover, a.youtube:hover {text-decoration: none;}

.separation_dots {
  background: url(images/frontpagesprite.png) 0px -132px repeat-x;
  display: inline-block;
  width: 9px;
  height: 13px;
}

/* homepage search form */
#meta-search-form-homepage { width:200px; position:relative; top:-32px; left:607px; }