@charset "UTF-8";
.CS_Document {
  margin:0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:75%;
  background-color:#dddddd;
  behavior: url("/style/csshover.htc");
  color:#000;
  line-height: 1.6;
}

@font-face {
  font-family: 'FunctionProMedium';
  src: url('/style/web_fonts/functionpro_medium_macroman/FunctionPro-Medium-webfont.eot#') format('embedded-opentype'), 
       url('/style/web_fonts/functionpro_medium_macroman/FunctionPro-Medium-webfont.woff') format('woff'), 
       url('/style/web_fonts/functionpro_medium_macroman/FunctionPro-Medium-webfont.ttf')  format('truetype'),
       url('/style/web_fonts/functionpro_medium_macroman/FunctionPro-Medium-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'FunctionProLight';
  src: url('/style/web_fonts/functionpro_light_macroman/FunctionPro-Light-webfont.eot#') format('embedded-opentype'), 
       url('/style/web_fonts/functionpro_light_macroman/FunctionPro-Light-webfont.woff') format('woff'), 
       url('/style/web_fonts/functionpro_light_macroman/FunctionPro-Light-webfont.ttf')  format('truetype'),
       url('/style/web_fonts/functionpro_light_macroman/FunctionPro-Light-webfont.svg#webfont') format('svg');
}
@font-face {
  font-family: 'FunctionProBook';
  src: url('/style/web_fonts/functionpro_book_macroman/FunctionPro-Book-webfont.eot#') format('embedded-opentype'), 
       url('/style/web_fonts/functionpro_book_macroman/FunctionPro-Book-webfont.woff') format('woff'), 
       url('/style/web_fonts/functionpro_book_macroman/FunctionPro-Book-webfont.ttf')  format('truetype'),
       url('/style/web_fonts/functionpro_book_macroman/FunctionPro-Book-webfont.svg#webfont') format('svg');
}

/* rudimentary reset */
form, table, tr, td, ol, ul, li, h1, h2, h3, h4, h5, h6, p, img, span, div, input, #header-wrapper, #footer-wrapper, #center-coll-wrapper, #content-wrapper, #left-coll-wrapper, #right-coll-wrapper, #right-coll-wrapper-wide, #breadcrumb-wrapper, #center-coll-wrapper-wide, #banner-graphic-wrapper, #meta-navigation-wrapper, .center-col-image-header-wrapper, #contact-wrapper, #callout-wrapper, #render-handler-wrapper, #publications-search-form {
  margin:0; padding:0; font-weight: normal;
}
input[type='text']{ background-color:#fff; border: 1px solid #999; }
a:link, a:visited, a:hover { color: #362bb6; text-decoration: none; }
a:hover { text-decoration: underline; }
a img { border: none; }

h1 { font-size:1.7em; margin:-5px 0 15px 0; color:#362BB6; clear:left;}
h2,h3,h4,h5 { margin:5px 0; }
h2 { font-size:1.5em; }
h3 { font-weight:bold; }
h3, h4, h5, h6 { font-size:1em; }
h6 { font-size:.8em; margin:5px 0 0 0; }

.header_18, a.header_18, .header_18 a, .standardlist .CS_LinkBar_BeforeLabel, .dottedlist .CS_LinkBar_BeforeLabel, .imagelist .CS_LinkBar_Item, .imagelist .CS_LinkBar_CurrentItem, .dottedlinkbar .CS_LinkBar_BeforeLabel, .standardlistnoborder .CS_LinkBar_BeforeLabel, .dottedlistnoborder .CS_LinkBar_BeforeLabel{
  font: 20px 'FunctionProMedium', Arial, sans-serif;
  color: #666;
  margin:5px 0;
  text-decoration: none;
}
a.header_18:hover, .header_18 a:hover { text-decoration: underline; }
p { padding: 0 0 15px 0; }
.smallertext { font-size:.9em; }
ul, ol { margin: 0 24px 10px 24px; }
ul li, ol li { padding: 0 8px 8px; }
hr { border: 0; color: #bebebe; background-color: #bebebe; height: 1px; }

li.borderTopDotted {
  padding: 5px;
}

/* ********** WRAPPERS ********** */
#base-template-wrapper {
  margin:0;
  padding:0 10px 0 0;
  width:987px;
  margin:0 auto;
  -moz-box-shadow: 0 0 12px 2px #666;
  -webkit-box-shadow: 0 0 12px 2px #666;
  box-shadow: 0 0 12px 2px #666;
  behavior: url(/style/PIE.htc);
  background-color: #ffffff;
}
/* ********** WRAPPER OVERRIDES NOTE:  Most of the font size declarations are here. ********** */
#content-wrapper { padding-left:27px; }

#footer-wrapper {
  font-size:.95em;
  border-top:solid 1px #bebebe;
  margin:10px 0 10px 24px;
  padding:10px 0;
  width:960px;
}
#footer-wrapper p { padding:0px 0 10px 0; }
#footer-wrapper p img {
  vertical-align: middle;
  margin:-12px 0;
  padding:0;
}
#footer-wrapper img { border:0; }
#lower_icons {
  width:100%;
  border-top:1px solid #bebebe;
  padding-top:15px;
  margin-top:15px;
}
#lower_icons img { margin-right:30px; vertical-align: middle; }
#header-wrapper { font-size:.95em; width:987px; }
#center-coll-wrapper {
  padding:0px 5px 10px 10px;
  width:437px;
  min-height:400px;
}
#center-coll-wrapper-cnst-tool {
  padding:5px 0 0 5px;
  width:390px;
  min-height:400px;
}
#center-coll-wrapper-wide {
  padding:0px 10px 10px 0;
  width:560px;
  min-height:400px;
}
#center-coll-wrapper-staff {
  padding:0px 10px 10px 0;
  width:675px;
  min-height:400px;
}
#contact-wrapper {
  font-size:.90em;
  padding-top:10px;
}
#callout-wrapper {
  padding-bottom:0px;
  margin-bottom:5px;
}
#left-coll-wrapper {
  margin:0px 10px 0 0;
  width:240px;
}
#right-coll-wrapper {
  margin:0px 15px 0 10px;
  width:240px;
}
#right-coll-wrapper-wide {
  margin:0px 15px 0 10px;
  width:360px;
}
#right-coll-wrapper-2col-wide {
  padding:0px 5px 10px 10px;
  width:676px;
  min-height:400px;
}
.breadcrumb-wrapper {
  display:block;
  padding:10px 0 19px 27px;
  font-size:.95em;
}
.breadcrumb-wrapper-portal {
  display:block;
  padding:10px 0;
  font-size:.95em;
}
#banner-graphic-wrapper {
  margin-left:15px;
  margin-bottom:0px;
  height:33px;
  width:974px;
}

/* ********** New Template styles. These are for the new "true template" layouts that should replace the blank page type **********  */
/* float everything to the left */
#CS_Element_leftColContainer, #CS_Element_centerColContainer,#CS_Element_rightColContainer, .left-coll-wrapper, .center-coll-wrapper, .right-coll-wrapper  {
  float:left;
}
/* 50% columns */
.a2-Column-50-50 { background: #fff url(/images/columnsbackground-2-col-50-50.gif ) repeat-y; }/* vertical separator lines */
#CS_Element_titleColumn { background-color:white;padding-bottom:10px;/* header row but we don't want to see the vertical separator */}
.a2-Column-50-50 #CS_Element_leftColContainer { width:459px; padding:0 20px 0 0; }
.a2-Column-50-50 #CS_Element_centerColContainer { width:459px; padding: 0 0 0 20px; }

/* 2-column */
.a2-Column { background: #fff url(/images/columnsbackground-2-col.gif ) repeat-y; }/* vertical separator lines */
.a2-Column #CS_Element_leftColContainer {width:593px; padding: 0 20px 0 0; }
.a2-Column #CS_Element_centerColContainer {width:306px; padding: 0 0 0 20px;}

/* 2-column-wide */
.a2-Column-Wide {background: #fff url(/images/columnsbackground-2col-wide.gif ) repeat-y;}/* vertical separator lines */
.a2-Column-Wide #CS_Element_leftColContainer {width:554px; padding: 0 20px 0 0; }
.a2-Column-Wide #CS_Element_centerColContainer {width:349px; padding: 0 15px 0 20px;}

/* 2-column-wide-color-column */
.a2-Column-Wide-Color-Column #CS_Element_leftColContainer {width:554px; padding: 0 20px 0 0; }
.a2-Column-Wide-Color-Column #CS_Element_centerColContainer {width:349px; padding: 0 15px 0 20px; background: #DCE2FA;}

/* 2-column-wide-right */
.a2-Column-Wide-Right {background: #fff url(/images/columnsbackground-2col-wide-right.gif ) repeat-y;}/* vertical separator lines */
.a2-Column-Wide-Right #CS_Element_centerColContainer { width:248px; padding: 0 20px 0 0; }/*actually the "left" column */
.a2-Column-Wide-Right #CS_Element_leftColContainer { width:655px; padding: 0 15px 0 20px; }/*actually the "center(right)" column */

/* 2-column-wide-right-no-line */
.a2-Column-Wide-Right-No-Line #CS_Element_centerColContainer { width:248px; padding: 0 20px 0 0; }/*actually the "left" column */
.a2-Column-Wide-Right-No-Line #CS_Element_leftColContainer { width:655px; padding: 0 15px 0 20px; }/*actually the "center(right)" column */

/* widths for the standard 3 column layout */
.a3-Column { background: #fff url(/images/columnsbackground.gif) repeat-y; }/* vertical separator lines */
.a3-Column #CS_Element_leftColContainer { width:220px; padding:0px 20px 0 0; }/*.left-coll-wrapper */
.a3-Column #CS_Element_centerColContainer { width:401px; padding:0px 20px 10px 20px; }/*.center-coll-wrapper */
.a3-Column #CS_Element_rightColContainer { width:241px; padding:0px 15px 0 20px; }/* .right-coll-wrapper  */

.clear{clear:both; width:100%;}

/* ********** LAYOUT TABLES ********** */
.layout-table { width:100%; }
.layout-table tr { vertical-align:top; }

/* ********** COMMONSPOT HTML OUTPUT WRAPPERS ********** */
.cs-wrapper-center-col { margin-bottom:.75em; }
.cs-wrapper-center-col p { margin:0; padding:0 0 8px 0; }
/* .cs-wrapper-center-col ul, .cs-wrapper-center-col ol { margin:0 5px 0 8px; padding:0 5px 0 8px; } */
.cs-wrapper-center-col img {
  margin:0 5px 3px 5px;
  border:solid 1px #000;
  text-align:left;
}


/* ********** RICH TEXT EDITOR SNIPPETS ********** */
.cs-rte-snippets-image-table { margin-top:-5px; padding-top:0px; }
.cs-rte-snippets-image-table td { padding:5px; }
.cs-rte-snippets-image-table p { font-size:.9em; margin-bottom:0px; }

/* ******* Data Table ******* */
.cs-rte-snippets-data-table { margin:5px; }
/* ********** CENTER COLUMN ********** */
#news-h1 {
  font-size:1.5em;
  font-weight:bold;
  margin:0;
}
img.imageHeader { margin:0px 0 10px 0; }
.title-image {
  display:block;
  padding:0;
  margin:4% 0 4% 0;
}
.rss-feeds-center-coll {
  border:none;
  float:right;
  clear:both;
}
.center-coll-box {
  margin:0 0 2% 0;
  padding:0;
}

/* ********** RIGHT AND LEFT COLUMN BOXES ********** */
.left-coll-box, .right-coll-box {
  margin: 0 0 3% 0;
  padding:0;
}
.right-left-col-box {
  padding:5px 0;
  margin:0;
  width:100%;
}
/* ********** .right-left-coll-list ********** */
.right-left-coll-list {
  padding:0;
  margin:0;
  width:100%;
}

.right-left-coll-list ul {
  margin:0;
  padding:0;
}
.right-left-coll-list li {
  padding-left: 0;
  list-style:none;
}

.right-left-coll-list img {
  margin:3% 0 2% 0;
}

/* ********** boulder news.cfm, other pages were horrid tables ********** */
.bouldernews ul { margin:10px 0 10px 30px; }
.bouldernews li { margin:12px 0; padding-left:0px; }

/* ********** LIST STYLES. these emulate what used to be done with renderhandlers. ********** */
.standardlist, .dottedlist { margin: 0 0 10px 0; padding:0 0 10px 0; border-bottom:solid 1px #bebebe; } 
.standardlistnoborder, .dottedlistnoborder { margin: 0 0 10px 0; padding:0 0 10px 0; }
.standardlist .CS_PgIndex_Header, .standardlistnoborder .CS_PgIndex_Header { margin:0; padding:0; }
.standardlist .CS_PgIndex_Item, .standardlistnoborder .CS_PgIndex_Item { list-style-type:none; margin:0 0 10px 0; padding:0; }
.standardlist .CS_LinkBar_Item, .standardlistnoborder .CS_LinkBar_Item { display: block; }
.standardlist .CS_LinkBar_BeforeLabel, .dottedlist .CS_LinkBar_BeforeLabel, .standardlistnoborder .CS_LinkBar_BeforeLabel, .dottedlistnoborder .CS_LinkBar_BeforeLabel{ 
  display: block;
  text-decoration: none;
}
.standardlist .CS_LinkBar_Item, .standardlist .CS_LinkBar_CurrentItem, .standardlistnoborder .CS_LinkBar_Item, .standardlistnoborder .CS_LinkBar_CurrentItem { 
  display: block; 
  padding:7px 0 8px 0;
}
.dottedlist .CS_LinkBar_Item,.dottedlist .CS_LinkBar_CurrentItem, .dottedlistnoborder .CS_LinkBar_Item, .dottedlistnoborder .CS_LinkBar_CurrentItem { 
  display: block; 
  padding:7px 0 8px 0;
  background: #fff url(/images/ui/separation_dots.gif) repeat-x scroll 0 -6px;
}
div.dottedlist > a:first-of-type, div.dottedlistnoborder > a:first-of-type {background:#fff;}

.imagelist .CS_LinkBar_Item, .imagelist .CS_LinkBar_CurrentItem {
    display: block;
  padding:7px 0;
  text-decoration: none;
  border-top:solid 1px #bebebe;
}
.imagelist .CS_LinkBar_Item:first-child{border-top:none;}

.dottedlinkbar { width:100%; }
.dottedlinkbar .CS_LinkBar_BeforeLabel{
    display:block;  
  margin:5px 0;
  text-decoration: none;
}
.dottedlinkbar .CS_LinkBar_Item {
  display:block;
  line-height: 1.8;
  padding: 5px 10px 5px 0;
  background: #fff url(/images/ui/separation_dots.gif) repeat-x scroll 0 -6px;
}

/* google search appliance keymatch code */
.googlekeymatches {margin:0 0 15px 0; background-color:#e8e8ff;padding:5px;}
.googlesublink {margin:0 0 10px 0;color:green;}
.keymatchlabel{display:block;color:#666;font-size:14px;font-weight:bold;margin:0 0 10px 0;}
.googlesuggest { color:red; font-size:14px; }

/* ********** Most Popular with gray background Area ********** */
.mostpopular { margin: 0 0 20px 0; } 
.mostpopular .CS_LinkBar_BeforeLabel {
  display:block;
  color:white;
  font:20px/1 'FunctionProMedium', Verdana, Geneva, sans-serif;
  padding:7px 0 0 10px;
  /*width:223px; Old images were this width, we can now make it 100%*/
  height:27px;
  -webkit-border-radius:9px 9px 0 0 ;
  -moz-border-radius: 9px 9px 0 0;
  border-radius: 9px 9px 0 0;
  behavior: url(/style/PIE.htc);
  background-color: #362bb7;
  clear:both;
}
.mostpopular .CS_LinkBar_Item, .mostpopular .CS_LinkBar_CurrentItem {
  display:block;
  color: #000000;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  background-color:#DDDCDC;
  border-bottom: 1px solid #FFFFFF;
}
.mostpopular a:link, .mostpopular a:visited { color: #362bb6; text-decoration: none; }
.mostpopular a:hover { text-decoration: underline; }

.mostpopular .CS_LinkBar_AfterLabel {
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  border-radius: 0 0 9px 9px;
  behavior: url(/style/PIE.htc);
  color:#DDDCDC;
  background-color:#DDDCDC;
  display:block;
  height:8px; 
  margin-top:-1px;
}
/* ********** Most Popular no gray background Area ********** */
.mostpopular-white { margin: 0 0 20px 0; } 
.mostpopular-white .CS_LinkBar_BeforeLabel {
  display:block;
  color:white;
  font:20px/1 'FunctionProMedium', Verdana, Geneva, sans-serif;
  padding:7px 0 0 10px;
  /*width:223px; Old images were this width, we can now make it 100%*/
  height:27px;
  -webkit-border-radius:9px 9px 0 0 ;
  -moz-border-radius: 9px 9px 0 0;
  border-radius: 9px 9px 0 0;
  behavior: url(/style/PIE.htc);
  background-color: #362bb7;
  clear:both;
}
.mostpopular-white .CS_LinkBar_Item, .mostpopular-white .CS_LinkBar_CurrentItem {
  display:block;
  color: #000000;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  background-color:#FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.mostpopular-white a:link, .mostpopular-white a:visited { color: #362bb6; text-decoration: none; }
.mostpopular-white a:hover { text-decoration: underline; }

.mostpopular-white .CS_LinkBar_AfterLabel {
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  border-radius: 0 0 9px 9px;
  behavior: url(/style/PIE.htc);
  color:#FFFFFF;
  background-color:#FFFFFF;
  display:block;
  height:8px; 
  margin-top:-1px;
}
/* ********** BANNERS AND BANNER NAVIGATION ********** */
#navigation-wrapper {
  margin-left:15px; 
  width:974px;
  height:19px;
  padding:0;
  -webkit-border-radius: 0 0 9px 9px;
  -moz-border-radius: 0 0 9px 9px;
  border-radius:  0 0 9px 9px;
  background: #362bb6;
  behavior: url(/style/PIE.htc);
}

/* ********** #meta-navigation-wrapper ********** */
#meta-navigation-wrapper {
  width:989px;
  background-color:#2e2e2e;
  height:19px;
  padding:4px 0 0 0;
  margin:0px 0 0 0;
}
#meta-navigation-wrapper img {
  width:56px;
  height:15px;
  margin:0px 0 0 15px;
  border:none;
}
#meta-navigation-links {
  position:relative;
  left:273px;
  top:-16px;
  width:500px;
}
#meta-search-form {
  position:relative;
  left:741px;
  top:-33px;
  width:200px;
}
.meta-search-form-input {
  margin:0 5px;
  width: 120px;
}
/* ********** .pipelistBold ********** */
.pipelistBold {
  overflow: hidden;
  width: 550px;
}
.pipelistBold ul {
  list-style: none;
  margin:0;
  padding: 0;
}
.pipelistBold li {
  border-left: 1px solid #FFF;
  float: left;
  line-height: 1.2;
  margin: 0 1em 0 -.5em;
  padding: 0 .5em 0 .5em;
  white-space: nowrap;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: white;
}
.pipelistBold li a:link, .pipelistBold li a:hover, .pipelistBold li a:visited { color: #fff; }

/* ********** NEW MO BETTA Dropdown menus ********** */
/* Structure of the menus, !!!DO NOT CHANGE!!!  ********** */
ul.dropdown,ul.dropdown li,ul.dropdown ul { list-style: none;  margin: 0; padding: 0; } ul.dropdown { position: relative; z-index: 597; float: left; } ul.dropdown li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; } ul.dropdown li.hover,ul.dropdown li:hover { position: relative; z-index: 599; cursor: default; } ul.dropdown ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%; } ul.dropdown ul li { float: none; } ul.dropdown ul ul { top: 1px; left: 99%; } ul.dropdown li:hover > ul { visibility: visible; }

/* *** DROPDOWN MENU THEME (HOW IT LOOKS) CHANGE OR OVERRIDE THIS TO MODIFY DROPDOWNS *** */
ul.dropdown { height:19px; }
ul.dropdown li { padding: 1px 12px; color: #fff; height:17px; text-decoration:none;}
ul.dropdown li.hover, ul.dropdown li:hover { text-decoration:none; }
ul.dropdown a:link, ul.dropdown a:visited { display: block; color: #fff; text-decoration: none; }
ul.dropdown ul { 
  width: 225px; 
  margin-top: 0;
  -moz-box-shadow: 2px 2px 3px #333;
  -webkit-box-shadow: 2px 2px 3px #333;
  box-shadow: 2px 2px 3px #333;
}
ul.dropdown ul li {
  padding:3px 4px;
  font-weight: normal;
  background-color:#362BB6;
  border-top:1px solid white;
}
ul.dropdown ul li a:hover {text-decoration:underline;}
ul.dropdown *.dir {
  padding-right: 20px;
  background-image: url(data:image/gif;base64,R0lGODlhCQAIAIABAP///////yH5BAEAAAEALAAAAAAJAAgAAAIPhH+BqQsBF4xo0mcbzjsUADs=);
  background-position: 95% 40%;
  background-repeat: no-repeat;
}
/* ********** PUBLICATIONS SEARCH FORM ********** */
#publications-search-form {
  width:260px;
  float:right;
  clear:right;
  padding:20px;
  color:#362bb6;
  background-color:#e2e2e2;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/style/border-radius.htc);
}
#publications-search-tips {
  width:260px;
  float:right;
  clear:right;
  padding:20px;
  margin-top: 20px;
  color:#000;
  background-color:#e2e2e2;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/style/border-radius.htc);
}
.mainInputItem { clear:both; margin:10px 0 0 0; }
.dateInput { clear:both; text-align: right; margin:10px 0 20px 0; height:40px; }
.ui-datepicker-trigger{}
/* fixes chrome for new datepicker, breaks all others for old. will uncomment when we're fully on new datepicker.
.dateInput label{float:left;width:60px;margin-left:85px;}
.dateInput input{float:left;width:90px;margin:0 10px;}
*/
.inputItemLeft {
  width:49%;
  float:left;
}
.inputItemRight {
  width:49%;
  text-align:right;
  float:right;
}
#publications-search-form label {
  font-weight:bold;
  font-size:12px;
}
.pub-submit-button {
  background-color:transparent;
  border:1px solid #666;
  background-color:#ccc;
  padding:3px;
  width:120px;
  color:#362bb6;
  font-weight:bold;
  font-size:12px;
}
.pub-submit-button:hover {
  cursor:pointer;
  background-color:#ccf;
}
.pub-text-Input {
  width:260px;
  border:solid 1px black;
  font-size:1.2em;
  color:#000;
  margin:5px 0 10px 0;
}
.pub-text-Checkbox {
  border:solid 1px black;
  font-size:1.2em;
  color:#000;
}
.datefield {
  font-size:1.2em;
  width: 150px;
}
.search-result-row {
  margin-bottom:20px;
}
#publications-search-form fieldset {
  border:none;
}

/* ********** Techbeat Specific Styles ********** */
#techbeat_content {margin-right:15px;}
#techbeat_content .tocheader {font-size:14px;font-weight:bold;}
#techbeat_content .toc_list {
list-style: none;line-height:1.5;margin:0 5px 0 0; }#techbeat_content .toc_list li {margin:14px 0;}
#techbeat_content .story_header { font-size:16px; margin:10px 0; font-weight:bold; }
#techbeat_content .contact {}
#techbeat_content .comment {margin:10px 0;padding-bottom:25px;font-size:10px;}
#techbeat_content .video_container {margin:0 10px;width:1005;}
.video_container .video {}
.video_container .video_caption {padding:0 10px;font-size:11px;}
.tbcredits{font-size:10px;margin:15px 0 0 0}
.techbeat_archive_link {font-weight:bold;}
.techbeat_archive_description {}
.techbeat_list_item, .panes li {margin:0 0 10px 0;list-style: none;}
/* root element for tabs for techbeat archives page  */
.tabs { list-style:none; margin:0 0 15px !important; padding:0; height:30px; border-bottom:1px solid grey; }
/* single tab */
.tabs li { float:left; text-indent:0; padding:0; margin:0 !important; list-style-image:none !important; }
/* link inside the tab. */
.tabs a { display:block;height: 30px;  line-height:30px;width: 68px;text-align:center;  color:#362bb6;position:relative;top:1px;font-size:11px;font-weight:bold; }
.tabs a:active { outline:none; }
.tabs a:hover { }
/* active tab uses a class name "current".  */
.tabs .current, .tabs .current:hover, .tabs li.current a { cursor:default !important; color:black !important; }
/* initially all panes are hidden */ 
.panes .pane { display:none; }

/* ********** Google Translate and ADDthis style ********** */
#translate_addthis {
  float:right;
  margn-top: -15px;
  margin-bottom: 15px;
}
#translate_addthis_left {
  float:left;
  margn-top: -15px;
  margin-bottom: 15px;
}
#translate_addthis td, #translate_addthis_left td {
  vertical-align:top;
}
#google_translate_element {
  padding-right:25px;
  margin-top: -5px;
}
#translate_addthis .disclaimer, #translate_addthis_left .disclaimer {
  float: right;
  position:relative;
  right: 20px;
  top: -5px;
}
#translate_addthis .disclaimer-stacked, #translate_addthis_left .disclaimer-stacked {
  float: left;
  position:relative;
  left: 170px;
  top: -5px;
}
#translate_addthis .disclaimer-right {
  float: right;
  position:relative;
  right: 170px;
  top: -5px;
}
.addthis_button {
  float: left;
}
.addthis_left_button {
  float: right;
}
.addthis_button_stacked {
  float: left;
}
#translate_addthis .goog-te-combo {
  width:150px;
}
#translate_addthis .goog-te-gadget {
  line-height:.5;
  margin-top:-2px;
}
/* ********** Topic Portals ********** */
.CS_Layout_TR {
  text-align:left;
  vertical-align:top;
}
.topicPortalWrapper {
  padding-top: 30px;
}
.topicPortalLeft {
  margin:0 20px 0 17px;
  width:445px;/* border-right:1px solid #BEBEBE; */
}
.topicPortalRight {
  width:400px;
  margin:0 27px 0 20px;
}
.contentFormatWrapper {
  font-size:.90em;
  padding-top:10px;
}
.select_portal_module_wrapper {
  margin-bottom:0.9em;
}
.select_portal_module_wrapper a {
  margin:0;
  padding:0;
}
.select_portal_module_wrapper p {
  margin:0;
  padding:0;
}
.topicPortalLeft-coll-box, .topicPortalRight-coll-box {
  margin: 0 0 3% 0;
  padding:0;
}
.topicPortalLeft-coll-box, .topicPortalRight-coll-box {
  margin: 0 0 3% 0;
  padding:0;
}
.topicPortalRight-coll-box li {
  margin:0 0 3% 0;
  padding:0;
}
.topicPortalSeeMore {
  font-weight:bold;
}
.topicPortalLeft-coll-box img, .topicPortalRight-coll-box img{
  margin:3% 0 2%;
}

.select_portal_module_wrapper img {
  border:1px solid #000000;
  margin:0 2.5% 1.2%;
  text-align:left;
}
.topic-center-coll-wrapper-wide {
  min-height:400px;
  padding:0 10px 10px 0;
  width:560px;
}
.topic-right-coll-wrapper-wide {
  margin:0 15px 0 10px;
  width:360px;
}
.topic-link-bar {
  background-color:#FFFFFF;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  min-height:7%;
  padding:4% 3% 4% 0;
  width:auto;
}
.see-all_right_col {
  margin:0 15px 0 20px;
  width:220px
}
.see-all_left_col {
  padding:0 20px 10px 0;
}
.top-level_breadcrumb_wrapper {
  display:block;
  font-size:0.95em;
  padding:10px 0 19px 0;
}
/* ********** Home Page ********** */
.homepageLeftColumn {
  width:225px;
  padding-right:20px;
}
.homepageWrapper {
  margin-top: 25px;
}
.homepageMiddleColumn {
  margin:0 20px 0 20px;
  width:401px;
}
.homepageRightColumn {
  width:235px;
  margin:0 25px 0 20px;
}
.social20Wrapper {
  clear: both;
  padding:12px 0;
  margin:0px 0;
}
.social20Wrapper img {
  vertical-align:middle;
}
.social20Wrapper form {
  margin-top:-10px;
  padding:0;
}
.social20Wrapper input {
  font-size:.85em;
  padding:0;
  border:1px solid #959393;
  width:133px;
  height:14px;
  background: #efefef;
  margin-top:5px;
  vertical-align:middle;
}
#signupbutton {
  width:25px;
  height:16px;
  vertical-align:middle;
  background: #f0efef;
  color:#362bb6;
}

/* ********** topic landing pages ********** */
.sitename {
  font: 2em 'FunctionProLight', Arial, sans-serif;
  color: #FFF;
  margin: -1.8em 0 0 20px;
}

/* Pagination CSS for MSN Live search */
div.pagination.live { font-size:.90em; margin:10px 0; }
/* all inital box styles */
div.pagination.live a, div.pagination.live span.current, div.pagination.live span, div.pagination.live a.next, div.pagination.live a.previous {
  padding:0.3em .7em; text-align:center; text-decoration:none; border:1px solid #CCC; cursor:pointer;
}
/* hover styles for all the above */
div.pagination.live a:hover, div.pagination.live span, div.pagination.live a.next:hover, div.pagination.live a.previous:hover {
  background:#eef; border:1px solid #99f;
}
div.pagination.live a.disabled,div.pagination.live a.disabled:hover {background:#fff; border:1px solid #e0e0e0;color:#ccc;}
/*  * * * * * * * * * * * * * * * MEGAMENU * * * * * * * * * * * * * * * */
ul.megamenu {
  background-color: #e2e2e2;
  border-bottom: 1px solid #999999;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  width: 997px;
  height:32px
}
ul.megamenu ul {
  margin: 0;
}
ul.megamenu li.mm-item {
  font-weight: bold;
  height:32px
}

ul.megamenu li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

ul.megamenu li.clear-fix {
  float: none;
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}

ul.megamenu a.mm-item-link:link, ul.megamenu a.mm-item-link:visited {
  position: relative;
  display: inline-block;
  color: #000000;
  padding: 4px 10px;
  margin: 0px 3px 0px 0px;
  text-decoration: none;
  z-index: 10;
  font-size: 13px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  
}
*html ul.megamenu a.mm-item-link:link, *html ul.megamenu a.mm-item-link:visited {
  border-color: pink;
  filter: chroma(color=pink);
}

ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {
  color: #555;
  background: #FFF;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

ul.megamenu div.mm-item-content {
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #fff 70%, #cacaca 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #fff 0%, #fff 70%, #cacaca 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #fff 70%, #cacaca 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #fff 70%, #cacaca 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #fff 70%, #cacaca 100%); /* W3C */
  position: absolute;
  border: 1px solid #999;
  z-index: 1000;
  box-shadow: 1px 1px 25px rgba(102,102,102,.6);
  padding: 8px 18px 18px;
}

.mm-content-base {
  background: #FFF;
  position: relative;
  z-index: 11;
}

.mm-panel {
  width: 685px;
  padding: 15px;
}

.mm-2col,
.mm-3col {
  float: left;
  padding: 0 10px;
}

.mm-2col {
  width: 47%;
}

.mm-3col {
  width: 207px;
  padding: 0 10px;
}

.menuitem,
.mm-item-content a {
  color: #444;
  font-size: 13px;
}

ul .mm-item-content li {
  margin: 10px 0;
}

.mm-item-content a {
  line-height: 17px;
}

.menuitem {
  font-weight: bold;
  margin-top: 10px;
}

/*  * * * * * * * * * * * * * * * INDIVIDUAL MEGAMENUS  * * * * * * * * * * * * * * * */
.aboutus {}
.subjects {}
.work {}
.products {}
.nistorg {
}


/*  * * * * * * * * * * * * * * * END MEGAMENU * * * * * * * * * * * * * * * */
/* homepage search form */
#search-form .search-form-button, #search-form .search-form-input { 
  font-size:1.3em; line-height:1.4em; margin:0; padding:0; border: 1px solid #999; }
  
#search-form .search-form-input { width:10em; }
#search-form .search-form-button { width:4em; background:#d6d6d6;cursor: pointer; }
#search-form {
  float: right;
  margin-top: 5px;
}
.lt-ie8 #header-wrapper {
  position: relative;
}

  .lt-ie8 #search-form-homepage {
    margin-bottom: 0;
    position: absolute;
    right: 0;
  }

.lt-ie8 .slide-pager {
  left: 0;
}


/* ********** GENERAL UTILITIES ********** */
.sprite { background: url(/images/logo_sprite.gif) no-repeat top left; display:block;}
.sprite span {display:none;}
.sprite-GovDelivery_std_red_env{ background-position: -80px 0; width:21px; height:14px; } 
.sprite-census_logo{ background-position: -210px 0; width:65px; height:53px; float:left;} 
.sprite-facebook_logo{ background-position: -40px 0; width:18px; height:17px; } 
.sprite-recovery_gov_logo{ background-position: -5px -29px; width: 200px; height: 30px; } 
.sprite-science_button{ background-position: -110px 0; width: 93px; height: 23px; } 
.sprite-twitter_logo{ background-position:-60px 0 ; width: 18px; height: 18px; } 
.sprite-usa_gov{ background-position: -280px 0; width: 96px; height: 30px; } 
.sprite-youtube_logo{ background-position: 0 0; width:38px; height:16px; }
/* ********** .blackBorder ********** */
.blackBorderAll, #staffPhoto img { border:solid 1px #000; }
.blackBorderTop { border-top:solid 1px #000; }
.blackBorderRight { border-right:solid 1px #000; }
.blackBorderrBottom { border-bottom:solid 1px #000; }
.blackBorderLeft { border-left:solid 1px #000; }
/* ********** .border ********** */
.borderAll { border:solid 1px #bebebe; }
.borderTop { border-top:solid 1px #bebebe; }
.borderRight { border-right:solid 1px #bebebe; }
.borderBottom { border-bottom:solid 1px #bebebe; }
.borderLeft { border-left:solid 1px #bebebe; }
/* ********** .borderDotted ********** */
.borderTopDotted { background: #fff url(/images/ui/separation_dots.gif) repeat-x scroll 0 -6px; }
.borderRightDotted { border-right:dotted 1px #bebebe; }
.borderBottomDotted { background: #fff url(/images/ui/separation_dots.gif) repeat-x scroll 0 99%; }
.borderLeftDotted { background: #fff url(/images/ui/separation_dots.gif) repeat-y scroll 0 0; }
/* ********** .noPadding ********** */
.noPaddingAll { padding:0; }
.noPaddingTop { padding-top:0; }
.noPaddingRight { padding-right:0; }
.noPaddingBottom { padding-bottom:0; }
.noPaddingLeft { padding-left:0; }
/* ********** .noMargin ********** */
.noMarginAll { margin:0; }
.noMarginTop { margin-top:0; }
.noMarginRight { margin-right:0; }
.noMarginBottom { margin-bottom:0; }
.noMarginLeft { margin-left:0; }
/* ********** .smallMargin ********** */
.smallMarginAll { margin:3px; }
.smallMarginTop { margin-top:3px; }
.smallMarginRight { margin-right:3px; }
.smallMarginBottom { margin-bottom:3px; }
.smallMarginLeft { margin-left:3px; }
/* ********** .mediumMargin ********** */
.mediumMarginAll { margin:5px; }
.mediumMarginTop { margin-top:5px; }
.mediumMarginRight { margin-right:5px; }
.mediumMarginBottom { margin-bottom:5px; }
.mediumMarginLeft { margin-left:5px; }
/* ********** .mediumBigMargin ********** */
.mediumBigMarginAll { margin:10px; }
.mediumBigMarginTop { margin-top:10px; }
.mediumBigMarginRight { margin-right:10px; }
.mediumBigMarginBottom { margin-bottom:10px; }
.mediumBigMarginLeft { margin-left:10px; }
/* ********** .bigMargin ********** */
.bigMarginAll { margin:20px; }
.bigMarginTop { margin-top:20px; }
.bigMarginRight { margin-right:20px; }
.bigMarginBottom { margin-bottom:20px; }
.bigMarginLeft { margin-left:20px; }
/* ********** .bigPadding ********** */
.bigPaddingAll { padding:20px; }
.bigPaddingTop { padding-top:20px; }
.bigPaddingRight { padding-right:20px; }
.bigPaddingBottom { padding-bottom:20px; }
.bigPaddingLeft { padding-left:20px; }
/* ********** .smallPadding ********** */
.smallPaddingAll { padding:5px; }
.smallPaddingTop { padding-top:5px; }
.smallPaddingRight { padding-right:5px; }
.smallPaddingBottom { padding-bottom:5px; }
.smallPaddingLeft { padding-left:5px; }

.all-caps { text-transform: uppercase; }
.bold { font-weight:bold; }
.small-text { font-size:.80em; }
.hr, hrTall { line-height:3px; border-bottom:solid 1px #bebebe; margin:10px 0 10px 0; }
.hrTall { line-height:1em; }
.search-result-record-crowd { padding-left: 40px; }
.search-result-record-wrapper .subtitle { font-weight:bold; }
#yearDisplay { margin-top:-10px; overflow:auto; height:450px; line-height:1.5; }
.individualYear { margin:10px 0 0 0; }
.year { font-weight:bold; }
.year a { font-weight:normal; font-size:9px; }
.quarter { margin-left:5px; }
/* screen reader related */
.hidden { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }

/* ********** Styles for YouTube video player ********** */
.video-player {
  margin: 20px; width: 640px;
}
.video-controls { 
  background: #dedede; 
  height: 30px;
  margin: -4px 0 0;
  position: relative;
  width: 640px;
}
.status {
  height: 20px; 
  left: 30px; 
  position: absolute; 
  top: 5px; 
  width: 455px;
}
.bar {
  background: #a4a4a4; 
  height: 10px; 
  position: relative; 
  top: 5px;
}
.loaded {
  background: #bbb; 
  height: 10px; 
  left: 0; 
  position: absolute; 
  top: 0;
}
.indicator {
  background: #212121; 
  display: block; 
  height: 10px; 
  left: 0; 
  position: absolute; 
  top: 0; 
  width: 20px;
}
.play-pause, .volume { 
  background: url(/images/ui/btn-controls.png) no-repeat ;
  display: block;
  height: 20px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 20px;
}
.view-youtube { 
  color: #000;
  display: block; 
  float: right; 
  font-size: 8px; 
  line-height: 30px;
  padding: 0 9px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}
a.view-youtube:link,
a.view-youtube:visited,
a.view-youtube:hover {
  color: #000;
  font-size: 8px; 
  text-decoration: none;
}
.play-pause { left: 5px; }
.playing { background-position: 0 -20px; }
.volume { background-position: 0 -60px; right: 130px; }
.muted { background-position: 0 -40px; }


/* ********** styles for /healthcare/ site ********** */

.healthcare-img {
  margin:0px 0 10px 0;
  border:2px solid #666;
  text-align:left;
}

/* ****************** Styles for publication portal search ******************* */
#pub-search-container {
  width: 959px;
  height:auto;
}
#pub-search-results-container {
  display:inline;
  float:left;
  width: 600px;
  
}
#pub-search-form-container {
  display:inline;
  float:right;
  width: 350px;
}
/*   leavnotice styles  */
#ln-blackout{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;z-index:800}#ln-messageHolder{position:fixed;top:150px;left:0;width:100%;z-index:1000}#ln-messageBox{width:460px;margin:0 auto;min-height:200px;background-color:#fff;border:10px solid #e6e6e6;-moz-box-shadow:0 0 20px 10px #666;-webkit-box-shadow:0 0 20px #666;text-align:center;padding:20px}a#ln-cancelLink{background-color:#e6e6e6;font-weight:bold;padding:5px;color:#666;text-decoration:none;text-transform:uppercase;font-size:.8em}a#ln-cancelLink:hover{background-color:#666;color:#e6e6e6}.setoff{background-color:#f2f2f2;padding:5px;margin:10px 0 20px 0}
