
body {
    font-family: "HelveticaNeue-Light";
    position: relative;
}

ul.nav-class {
  position: fixed;
}

#side-nav > ul {
  overflow-y: auto;
  height: 175;
}

.content_stuff {
  /*height: 1000px;*/
  overflow-y: scroll;
}

.codie {
    font-family: "Coda";
}
.slightgrey{
    color: #d3d3d3;
}
div.leftie {
    text-align: left;
}
div.middie {
    text-align: center;
}
/* NAVIGATION */
.navbar-fixed-top{
  height: 70px;
  background-color: white;
}

.navbar-brand{
  padding-top: 10px;
  font-size: 20px;
  line-height: 30px;
}

.navbar-nav{
  float: right;
  font-size: 18px;
  padding-top: 10px;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
  font-size: 15px;
}

/*FIRST BANNER*/
    .scroll {
      /*Set a css background */
      background:url(../img/banner.jpg);

      /*Dont mind the rest*/
      position: relative;
      width: 100%;
      height: 100%;
      min-height: auto;
      background-position: center !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      text-align:center;
      color:#fff;
      font-family:'Open Sans' sans-serif;
    }
    /*Overlay over the banner*/
    .scroll-overlay{
      background-color: rgba(38,89,148,.9);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

/*SECOND BANNER*/
    .scroll2 {
      /*Set a css background */
      background-color:white;

      /*Dont mind the rest*/
      position: relative;
      width: 100%;
      height: 100%;
      min-height: auto;
      background-position: center !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      text-align:center;
      color:rgba(38,89,148,0);
      font-family:'Open Sans' sans-serif;
    }

/* SIDE BAR  */
    .group{
    /*  background: yellow;
     /* width: 200px;*/
     padding-bottom: 50px;
    }

    .group .subgroup {
      padding-top: 60px;
      margin-top: -60px;
    }

    .content-row {
      margin-top: 60px;
      position: relative;
    }

    .fixed {
      position: fixed;
      /*padding-top: 60px;*/
      width: 325px;
    }

    .sidenav-padding{
      padding-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .sidenav-padding .nav>li>a {
      color: #777;
      padding: 4px 20px;
      font-size: 16px;
      font-weight: 400;
      text-align: right;
    }

    .sidenav-padding .nav .nav>li>a {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 30px;
      font-size: 14px;
    }

    .sidenav-padding .nav>.active>a {
      color: #563d7c;
    }


.


  pre {
   white-space: pre-wrap;       /* css-3 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

/*CUSTOM MENU*/
     .marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/*Data Page CSS*/

table.download_data_table th,td {
  padding: 15px;
  border-bottom: 1px solid black;
}

td.download_button {
  text-align: center;
}

div.button_div {
  background-color: #337ab7;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

td.download_button a {
  color: white;
}

#download_data {
  margin-bottom: 80px;
  padding-top: 50px;
  margin-top: -50px;
}

#data_dictionary {
  margin-bottom: 80px;
  padding-top: 50px;
  margin-top: -50px;
}

#log_revisions {
  margin-bottom: 80px;
  padding-top: 50px;
  margin-top: -50px;
}

#log_revisions_table {
  margin-top: 50px;
}

#log_revisions_table th {
  text-align: center;
}

#data_faq {
  margin-bottom: 80px;
  padding-top: 50px;
  margin-top: -50px;
}