
body {
    font-family: "HelveticaNeue-Light";
}

.codie {
    font-family: "Coda";
}
.slightgrey{
    color: #d3d3d3;
}
div.leftie {
    text-align: left;
}
div.middie {
    text-align: center;
}

/*FIRST BANNER*/
    .scroll {
      /*Set a css background */
      background:url(../img/banner.jpg);

      /*Dont mind the rest*/
      position: relative;
      width: 100%;
      height: 100%;
      min-height: auto;
      background-position: center !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      text-align:center;
      color:#fff;
      font-family:'Open Sans' sans-serif;
    }
    /*Overlay over the banner*/
    .scroll-overlay{
      background-color: rgba(38,89,148,.9);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

/*SECOND BANNER*/
    .scroll2 {
      /*Set a css background */
      background-color:white;

      /*Dont mind the rest*/
      position: relative;
      width: 100%;
      height: 100%;
      min-height: auto;
      background-position: center !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      text-align:center;
      color:rgba(38,89,148,0);
      font-family:'Open Sans' sans-serif;
    }
  
/*CUSTOM MENU*/
     .marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
